.hbg{
    background-color: #1e3932;
    position: sticky;
    top: 0;
}

.logo{
    width: 55px;
    height: 55px;
    margin-left: 20px;
}

.rnav{
    justify-content: end;
}

.line{
    padding-left: 150px;
}

.hov:hover{
    background-color: #d4e9e2;
    border-radius: 10px;
}

.nav-link.active {
    background-color: #d4e9e2; /* Example background */
    color: #000; /* Example text color */
    border-radius: 5px; /* Rounded corners */
  }
  
