.star{
    min-height: 600px;
    width: 830px;
}

.abc{
    margin-top: 200px;
    padding-left: 40px;
}

.ab{
    background-color: 
    #d4e9e2;
}

.btncolor{
    background-color: 
    #008248;
}

.app{
    margin-top: 10px;
    font-size: 20px;
}

.app1{
    color: black;
    font-size: 20px;
}